* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#root {
    max-width: 500px;
    margin: auto;
    background-color: #f00;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*Header styling---------------------------------------------------*/
header {
    display: grid;
    background-color: #f00;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding-top: 0.5em;
}

header img {
    grid-column: 1/2;
    grid-row: 1/2;
    place-self: center;
}

header h1 {
    color: #fff;
    grid-column: 2/2;
    grid-row: 1/2;
}

header div:first-of-type {
    grid-column: 1/-1;
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0 1em;
    column-gap: 1em;
    max-height: 5em;
}

header div:first-of-type input[type="search"] {
    grid-column: 1/6;
    grid-row: 2/3;
    border: none;
    border: none;
    border-radius: 3em;
    padding: 10px;
}

header div:first-of-type button {
    grid-column: 6/7;
    grid-row: 2/3;
    border: none;
    border-radius: 3em;
    max-width: 3em;
    cursor: pointer;
}

/*------------------------------------------------------------------*/

/*Main styling-----------------------------------------------------*/
main {
    background-color: #fff;
    border-radius: 10px;
    margin: 0 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 1.2em;
    padding: 15px;
    padding-top: 30px;
}

main div {
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0px 0px 10px -1px gray;
    border-radius: 1em;
    text-align: center;
    padding: 15px;
    position: relative;
    isolation: isolate;
}

main div::before {
    content: "";
    background-color: #EFEFEF;
    position: absolute;
    inset: 55% 0 0;
    border-radius: inherit;
    z-index: -1;
}

main a {
    text-decoration: none;
    color: unset;
}

main div h3 {
    text-transform: capitalize;
    font-weight: normal;
}

main div p {
    text-align: end;
    color: #666666
}


/*----------------------------------------------------------------*/

/*Details styling -------------------------------*/
#detailed-root {
    background-color: #74CB48;
    isolation: isolate;
    position: relative;
    padding-bottom: 1px;
}

#detailed-root img:first-of-type {
    position: absolute;
  opacity: 0.2;
  transform: scale(10);
  top: 12%;
  z-index: -1;
  left: 73%;
}

.pokemon_name {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding-top: 1em;
    padding-bottom: 4em;
}

#detailed-root img:last-of-type {
    margin: auto;
  max-width: 75%;
}

.pokemon_name a {
    grid-column: 1/1;
    font-size: 1.6rem;
    align-self: center;
    margin-left: 1em;
      grid-row: 1/1;
}

.pokemon_name h1 {
    grid-column: 1/2;
  grid-row: 1/1;
  margin-left: 100px;
}

.pokemon_name p {
    grid-column: 3/4;
  justify-self: end;
  margin-right: 20px;
}

.pokemon_name a,
.pokemon_name h1,
.pokemon_name p {
    color: #fff;
}

.fa-greater-than {
    float: right;
  clear: both;
  position: relative;
  bottom: 4em;
  right: 1em;
  color: #fff;
}

#all_information {
    background-color: #fff;
  margin: 5px;
  border-radius: 1em;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-template-rows: repeat(10, 1fr);  not gonna be used maybe */
  grid-template-rows: auto;
}

#small_information {
    grid-column: 1/-1;
  text-align: center;
  color: lightgreen;
}

#weight {
    grid-column: 2/4;
  text-align: center;
  display: grid;
}

#weight_number {
    margin-bottom: 29px;
}

#height {
    grid-column: 4/6;
  text-align: center;
  display: grid;
  border-right: solid 2px #E0E0E0;
  border-left: solid 2px #E0E0E0;
}

#height_number {
    margin-bottom: 29px;
}

#moves {
    grid-column: 6/8;
  justify-self: center;
  display: grid;
}

#moves_named {
    margin-bottom: 10px;
}

#about_pokemon {
    grid-row: 4/5;
  grid-column: 1/-1;
  word-spacing: 10px;
  margin: 4em 0;
}

#intro_stats {
    grid-row: 5/6;
  text-align: center;
  grid-column: 1/-1;
}

#pokemon_stats {
    grid-row: 6/7;
    grid-column: 1/-1;
    display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: auto;
  gap: 1.5rem;
}

#hp,
#attack,
#defense,
#special-attack,
#special-defense,
#speed {
    grid-column: 1/2;
}

#hp {
    grid-row: 1/2;
}

#attack {
    grid-row: 2/3;
}

#defense {
    grid-row: 3/4;
}

#special-attack {
    grid-row: 4/5;
}

#special-defense {
    grid-row: 5/6;
}

#speed {
    grid-row: 6/7;
}
#pokemon_stats div:nth-of-type(1),
#pokemon_stats div:nth-of-type(3),
#pokemon_stats div:nth-of-type(5),
#pokemon_stats div:nth-of-type(7),
#pokemon_stats div:nth-of-type(9),
#pokemon_stats div:nth-of-type(11) {
    grid-column: 2/3;
    text-align: end;
  margin-right: 10px;
}

#pokemon_stats div:nth-of-type(1) {
    grid-row: 1/2;
}

#pokemon_stats div:nth-of-type(3) {
    grid-row: 2/3;
}

#pokemon_stats div:nth-of-type(5) {
    grid-row: 3/4;
}

#pokemon_stats div:nth-of-type(7) {
    grid-row: 4/5;
}

#pokemon_stats div:nth-of-type(9) {
    grid-row: 5/6;
}

#pokemon_stats div:nth-of-type(11) {
    grid-row: 6/7;
}

.percent_bar {
    grid-column: 3/-1;
}